body>h2 {
    font-size:300%;
}
body>h1{ 
    font-size:500%;
    text-align: center;
}
body>p {
    margin-left:3%; 
    font-size:150%;
}
.spielablauf{
    margin-left: 5%;
}
.spielablauf>p {
    font-size:125%;
    margin-left:2%;
}
.spielablauf>h2 {
    font-size:150%;font-weight:bold;
}
body>h3{
    font-size:400%;text-align:center;
}
@media (prefers-color-scheme: light) {
    :root {
        background-color:  lightslategray;
        color: black;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        background-color: rgba(23, 27, 37, 56);
        color: rgba(235, 236, 247, 103)
    }
}